:root {
    --pico-font-size: 100%;
    --pico-line-height: 1.5;
    --pico-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    font-family: var(--pico-font-family);
    line-height: var(--pico-line-height);
    color: var(--pico-primary-inverse);
    background-color: var(--pico-background-color);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

.table-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    white-space: nowrap; /* Prevent table cell content from wrapping */
}

thead {
    background-color: #f2f2f2;
}

.active-season {
    animation: glowing 2s infinite;
    border: 1px solid #00ff00;
}

@keyframes glowing {
    0% { box-shadow: 0 0 3px #00ff00; }
    50% { box-shadow: 0 0 10px #00ff00, 0 0 5px #00ff00 inset; }
    100% { box-shadow: 0 0 3px #00ff00; }
}

.gold-finish {
    background-color: #ffd700; /* Gold */
}

.silver-finish {
    background-color: #c0c0c0; /* Silver */
}

.bronze-finish {
    background-color: #cd7f32; /* Bronze */
}

/* Specific medals for 1st, 2nd, 3rd and 4th */
.gold-finish .trophy-icon::after {
    content: '🥇';
    font-size: 1.2em;
}

.silver-finish .trophy-icon::after {
    content: '🥈';
    font-size: 1.2em;
}

.bronze-finish .trophy-icon::after {
    content: '🥉';
    font-size: 1.2em;
}

.fourth-finish .trophy-icon::after {
    content: '4️⃣';
    font-size: 1.2em;
}

/* Wider container for player and season pages */
.player-page .container,
.season-page .container {
    max-width: 95vw;
}

.toggle-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
