<nav class="container-fluid">
    <ul>
        <li><a href="index.html"><strong>Pinball Stats</strong></a></li>
    </ul>
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="seasons.html">Seasons</a></li>
        <li><a href="players.html">Players</a></li>
        <li><a href="charts.html">Charts</a></li>
        <li><a href="leaderboards.html">Leaderboards</a></li>
    </ul>
    <ul>
        <li>
            <details role="list" dir="rtl">
                <summary aria-haspopup="listbox" role="link">Theme</summary>
                <ul role="listbox">
                    <li><a href="#" data-theme-switcher="auto">Auto</a></li>
                    <li><a href="#" data-theme-switcher="light">Light</a></li>
                    <li><a href="#" data-theme-switcher="dark">Dark</a></li>
                </ul>
            </details>
        </li>
    </ul>
</nav>
