{% extends "base.html" %}
{% from "leaderboard_tables.html" import render_leaderboard_tables %}

{% block title %}Leaderboards - Pinball League Stats{% endblock %}

{% block content %}
    <h1>Leaderboards</h1>

    <details>
        <summary>MFPinball</summary>
        <div class="tab-content" id="content-mfp">
            {{ render_leaderboard_tables(
                'mfp',
                mfp_total_points_leaderboard,
                mfp_top_4_finishes_leaderboard,
                mfp_top_seasons_leaderboard,
                mfp_most_improved_leaderboard,
                all_perfect_nights,
                all_almost_perfect_nights
            ) }}
        </div>
    </details>

    <details>
        <summary>MFLadies</summary>
        <div class="tab-content" id="content-mflp">
            {{ render_leaderboard_tables(
                'mflp',
                mflp_total_points_leaderboard,
                mflp_top_4_finishes_leaderboard,
                mflp_top_seasons_leaderboard,
                mflp_most_improved_leaderboard,
                all_perfect_nights,
                all_almost_perfect_nights
            ) }}
        </div>
    </details>

    <details>
        <summary>Combined</summary>
        <div class="tab-content" id="content-combined">
            {{ render_leaderboard_tables(
                'combined',
                combined_total_points_leaderboard,
                combined_top_4_finishes_leaderboard,
                combined_top_seasons_leaderboard,
                combined_most_improved_leaderboard,
                all_perfect_nights,
                all_almost_perfect_nights
            ) }}
        </div>
    </details>
{% endblock %}
